.card{
    float: left;
    border: 1px solid black;
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .choco{
    width: 100%;
    border-radius: 10px;
  }
  .container-card-data{
    float: left;
    width: 100%;
    padding: 10px;
  }
  .container-card-data h2{
    font-size: 19px;
    letter-spacing: 2px;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 10px;
  
  }
  .container-card-data p{
    font-size: 14px;
    font-weight: 300;
  }